.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-image: url("./assets/5361112.png");
background-size: cover;
background-repeat: no-repeat;
padding-bottom: 3rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.btn{
  background-color: rgb(133,177,174);
  padding: 0.7rem 2rem 0.7rem 2rem;
  border-radius: 0.3rem;
  border: 0px solid white;
  color: white;
}

main{ 
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5%;
}

